template(name="loginPage")
  .login
    form.login-form
      .field
        label.login-label(for="user") >
        input.login-input#user(
          name="username"
          type="text"
          placeholder="username"
          autofocus="autofocus"
        )
      .field
        label.login-label(for="password") >
        input.login-input#password(
          name="password"
          type="password"
          placeholder="password"
        )
  
      .submit
        button.login-submit login
  
      .new.cf
        a.signup-redirect(href="/signup") new? sign up
