template(name="signupPage")
  .signup
    form.signup-form(data-validate="parsley", novalidate)
      .field
        label.signup-label(for="user") >
        input.signup-input#user(
          name="username"
          type="text"
          placeholder="identify yourself"
          data-trigger="keyup"
          data-rangelength="[3,18]"
          data-required="true"
          autofocus="autofocus"
        )
      .field
        label.signup-label(for="email") >
        input.signup-input#email(
          name="email"
          type="email"
          placeholder="provide your email"
          data-trigger="keyup"
          data-required="true"
          data-type="email"
        )
      .field
        label.signup-label(for="password") >
        input.signup-input#password(
          name="password"
          type="password"
          placeholder="choose password"
          data-trigger="keyup"
          data-rangelength="[6,20]"
          data-required="true"
        )
    
    .submit
      a.signup-submit register

      a.signup-submit.github register with your github <span class="login-icon">g</span>
      a.signup-submit.twitter register with your twitter <span class="login-icon">t</span>
